.page-title {
    font-size: 96px;
    text-shadow: #000000 5px 4px 4px    ;
}

h2 {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    text-shadow: #000000 5px 4px 4px    ;
}
h3{
    font-family: Roboto, sans-serif;
    font-size: 200px;
    margin-top: 20px;
    letter-spacing: -10px;
    color: #078f20;
    stroke-width: 4px;
    opacity: 0.6;
    text-shadow: #000000 5px 4px 4px;
}
.icon-container a[href*="instagram"] {
    transition: transform 0.2s;
}
.icon-container a[href*="instagram"]:hover {
    transform: scale(1.1);
}
.icon-container a[href*="linkedin"] {
    transition: transform 0.2s;
}
.icon-container a[href*="linkedin"]:hover {
    transform: scale(1.1);
}
html, body {
    overflow: hidden;    /* prevent any scrolling */
    height: 100vh;       /* ensure body fills the viewport */
}
